@import url(reset.css);
@import url(fonts.css);

body {
  font-family: "Russo One", sans-serif;
  /* overflow: hidden;обрубує скрол */
}

.container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /*розташування елементів*/
}

.header {
  height: 60px;
  background-color: white;
  box-shadow: 0 0 10px 0 black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999; /*показує, що буде поверх всіх елементів, залежить від вказаного числа*/
}

.header-logo {
  width: 20%;
}

.logo-link {
  color: black;
  font-size: 30px;
  text-decoration: none;
}

.header-menu {
  width: 50%;
}

.menu-link {
  color: black;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  transition-property: transform;
  transition-duration: 0.7s;
}

.menu-link:hover {
  transform: scale(1.2);
}

.section {
  height: 100vh; /*100% висота екрану*/
  padding-top: 60px;
}

#home {
  background-image: url(../image/notebook2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.home-title {
  position: absolute;
  top: 100px;
  right: 0;
  font-size: 75px;
  color: #4e3c48;
  text-shadow: 1px 1px #ebf0e9;
}

.home-title-city {
  position: absolute;
  top: 170px;
  right: 50px;
  font-size: 50px;
  color: #4e3c48;
  text-shadow: 1px 1px #ebf0e9;
}
.home-cv{
  position: absolute;
  top: 300px;
  right: 50px;
  font-size: 40px;
  color: #4e3c48;
  text-shadow: 1px 1px #ebf0e9;
  text-decoration: none;
  -webkit-animation: pulsate 1.2s linear infinite;
  animation: pulsate 1.2s linear infinite;
  transition-property: transform;
  transition-duration: 0.7s;
  
}

@-webkit-keyframes pulsate {
  50% { color: #4e3c48; text-shadow: 1px 1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #4e3c48; }
 }
 @keyframes pulsate {
  50% { color: #4e3c48; text-shadow: 1px 1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #4e3c48; }
 }


.home-cv:hover{
 cursor: pointer;
 transform: scale(1.1); /*збільшення*/
}

.home-arrow {
  position: absolute;
  left: 50%;
  /* bottom: 20px; */
  transform: translate(
    -50%,
    0
  ); /*-50% зміщення по горизонталі, 0 по вертикалі */
  font-size: 50px;
  color: #4e3c48;
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite; /*безкінечно к-ть повторів*/
  /* border-bottom-left-radius: 50%; 
    border-bottom-right-radius: 50%;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%; */
}

@keyframes pulse {
  0% {
    /* box-shadow: 0 0 0 0 rgba(255, 255, 255, 1); Не має розміру з білим кольором */
    bottom: 5px;
  }
  50% {
    bottom: 15px;
  }
  100% {
    /* box-shadow: 0 0 0 10px rgba(255, 255, 255, 0); з білим кольором, але повністю прозорий */
    bottom: 5px;
  }
}

#about {
}
.about-photo {

  width: 30%;
  height: 70vh; /*70% від висоти екрану*/
  background-image: url(../image/avatar.png);
  background-size: cover;
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; */
  /* градієнт */
  /* background: #304352; /* fallback for old browsers */
  /*background: -webkit-linear-gradient(
    to right,
    #d7d2cc,
    #304352
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
  /*  to right,
    #d7d2cc,
    #304352 */
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
} 

.about-info{
    width: 50%;
}

.about-info p{
    font-size: 20px;
    margin-bottom: 15px;
}

.sertificate{
color: #3c4858;
}

.about-icons{
display: flex;
justify-content: center;
}

.about-icons i{
    font-size: 100px;
    margin: 0 20px;
}

#works {
  background-image: url(../image/notebook.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.works-box{
    width: 25vw; /*25% ширини екрану*/
    height: 15vw;
    margin-bottom: 35px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: #fefefe;
    text-decoration: none;
    display: flex; /*вирівнювання тексту*/
    justify-content: center;
    align-items: center;
    font-size: 40px;
    opacity: 0.5; /*прозорість*/
    /*transition: opacity 0.7s*/  /*плавність при ховері*/
    transition-property: opacity, transform;
    transition-duration: 0.7s;
    }

.works-box:hover{
    cursor: pointer;
    opacity: 1; /*прозорість*/
    transform: scale(1.1); /*збільшення*/
}

.tetris-box{
  background-image: url(../image/tetris.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fefefe;
} 

 .CV-box{
  background-image: url(../image/CV.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #3c4858;
} 

.lending-box{
  background-image: url(../image/LP.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #3c4858;
} 

.test-box{
  background-image: url(../image/Firsttest.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fefefe;
}



#contact {
}

.contact-info{
    width: 30%;
    height: 50%;
}

.form-group{
  margin: 15px auto;

}
.submit{
  width: 100px;
    display: block;
    margin: 10px auto;
    background-color: #3c4858;
    color: #fff;
    border: 0;
    padding: 10px;
    cursor: pointer
}
.contact-info p{
    font-size: 25px;
    margin-bottom: 10px;
}

.contact-links{
display: flex;
justify-content: center;
/* text-decoration: none; */
}

.contact-links a{
    font-size: 30px;
    margin: 20px 10px;
    text-decoration: none;
    color: #3c4858;
}

.contact-map{
    width: 50%;
    height: 70vh;
}